body{
  background-color: lightgray;
  color: rgb(52, 149, 165);
  margin-left: 0px;
  padding: inherit;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  font-family: cochin;
}

img{
    width:40%;
    height:40%;
}

.navbar {
  max-height: 50px;
  color: rgb(52, 149, 165);
}
.navigation .navbar-brand {
 
  margin-left: 0px;
  padding: inherit;
  font-weight: bold;
  color: rgb(52, 149, 165);
  
}
.navbar {
  background-color: rgb(255, 255, 255);
  font-size: 25px; 
}

.title {
    color: rgb(52, 149, 165);
    font-family: cochin;
    font-weight: bolder;
    padding-top: 10px;
  }

p {
    color: rgb(52, 149, 165);
    font-family: 'segoe ui';
    font-size: 16px;
    }